html{
    scroll-behavior: smooth;
}

body{ 
    margin: 0;
    overflow-x:hidden;
    overflow-y:hidden;
    color: white;
   
   background-color:rgb(255, 255, 255) ;
   cursor:default;
}


#vidDiv{
    position: fixed;
    top:0;  
     z-index: 2;
   background-color: rgb(0, 0, 0); 
     width: 100vw;
    height: 100vh;
}
video{
    position: relative;
    top: 45%;
    transform: translateY(-50%);
 width: 100%;   

    
    
}

.img{
    
    background-image:url("https://i.ibb.co/7WD9GgM/Low-Toronto.jpg") ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
   height: 95vh;
    z-index: -1; 
    
    
}

.bottom img{
    height: 70px;
    transition: height 0.1s linear ;   
   
}
.top img{
    height: 40px;
    transition: height 0.1s linear ;
}


nav{
   
    width: 100vw ;  
    z-index: 1;
    transition: height 0.1s linear ;   
}

 nav ul{
    
    list-style-type: none;
    float: right;
    margin: 0px 45px;
   
}

nav li {
    cursor: pointer;
    display: inline;
    margin: 0px 10px;
   
   
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    z-index: 1;
}

#topNav{
   font-size: 13px;
   height: 30px;
    position: fixed;
    top:0 ;
    background-color: rgb(163, 12, 12);
    
  
}
#topNav nav{
margin-top: 7px;
}

.bottom ul {
    margin-top: 25px ;
}
.top ul {
    margin-top: 15px ;
}
.bottom {
    position: absolute;
    bottom: 0;
    
padding-top: 10px;  
    height: 80px;
     color: white; 
    background-color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 20px;
}
.top{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 30px;
    height: 50px;
   
}
 
#bottomNav nav li a:hover{
background-color: rgb(182, 65, 36);

}

#description{
font-size: 30px;
position: absolute;
    
width: 35vw;  

padding: 40px;

 top: 200px;
 left: 0vw;

background-color: rgba(0, 0, 0, 0.315);
 border-style: hidden;
 

padding-left: 150px;
text-align: left;
animation-name:slide; 
animation-duration:3s;
animation-delay:.5s;
}

@keyframes slide{
    0% {      
        background-color: rgba(0, 0, 0, 0.801);
        color: rgba(255, 255, 255, 0);
    }
    35%{
        background-color: rgba(0, 0, 0, 0.795);
        color: rgba(255, 255, 255, 0);
    } 
    100%{  
        background-color: rgba(0, 0, 0, 0.315);
        color: rgba(255, 255, 255, 1);
    }
}

 #stats{ 
     text-align: center; 
     position: absolute;
     top: 400px;
     right: 10vw;
}
#ctn{ 
    position: absolute;
    top: 525px;
    left: 10vw;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.696);
    color: rgb(0, 0, 0);
    border: none;
    height: 60px;
    width: 160px;
    animation-name:open;
    animation-duration:5s;
    animation-delay: .5s;
}

#ctn:hover{ 
    background-color: rgba(255, 255, 255, 0.838);
}
#ctn:hover #pointer{ 
   color: rgb(182, 65, 36); 
}

@keyframes open{
    0%{     
        color: rgb(0, 0, 0,0);
        margin-top: 10vh;
        visibility: hidden;
    }
    75%{      
        margin-top: 0vh;
        color: rgb(0, 0, 0);
        background-color: white;
    }
    100%{
      
    }
}


#stats p{
    display: block;
    padding: 0px;
    margin: 0px;
}

#countUp{
    font-size: 35px; 
}
.info{
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.about{
    text-align: left;
    float: right;
    width: 50vw;
}

.aboutUs{
    position: absolute;
    top: 100vh;
    color: black;
    padding-top: 30px;
  }

.title{
    width: 80vw;  
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  article{
      margin: 0vw 10vw;
  }
.cnt{
    text-align: left;
      width: 45vw;
}

.contact{

    z-index: -1;
    width: 80vw;
    position: absolute;
   padding: 0px;;
   top: 160vh;
   color: rgb(0, 0, 0);

   
   
}
.inp{
  
  
  border-width: 2px;
    border-style: solid;
    
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: red;

    text-indent: 20px;
    padding: 2px;
    margin-bottom: 15px;
    height: 50px;
    width: 450px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    
    
}

::placeholder{
    color: black;
}

input:focus {
   outline-style: none;
  }

  .sub{
color: black;

border: solid;
border-width: 2px;
border-radius: 5px;
border-color: rgb(0, 0, 0);
width: 100px;
padding: 10px;
float: left;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif



  }
  .sub:hover{
    cursor: pointer;
  }


  #stockPic{
    width: 25vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns:  auto ;
    color: rgba(0, 0, 0, 0.815);
    width: 50vw;
    
    
  }

 

  .center{
    margin-left: auto;
    margin-right: auto;
}

.below{
    margin-top:10px ;
    text-align: center;
    
}





 #contactPic{
    width: 25vw;
    position: relative;
     top: -250px;
    left: 45vw;
    text-align: center;
    border-radius: 70px;
    
  }




/*compaibilty with different size screens */

@media (max-width: 1300px) {

   
    nav img{
       
        width: auto;
    }
    #description{
        top: 65px;
    }
    #ctn{
       
        height: 50px;
    width: 140px;
    }



    #contactPic{
        left: 55vw;
    }
    nav{
        transition-duration:1s ;
    }
    nav img{
        transition-duration:1s ;
    }

    .img{
        height: calc(100vh - 70px);
    }
}

@media (max-width: 900px) {

    .img{
        transform: translate(0px, -15vh);
    }
   
    #description{
    font-weight: lighter;
    top: 50px;
    }
    #stats{
        top: 500px;
    }
    #ctn{
        font-size: 15px;
        height: 40px;
        width: 125px;
    }
    #countUp{ 
        
        right: 5vw; 
   }
   .info{
    font-size: 15px;
}
.inp{
    width: 300px;
   }
   .bottom img{
    height: 50px;
    margin-top: 10px;
   }
   #countUp{
    font-size: 25px; 
}

   
}
@media (max-width: 700px) {
  
    #description{
    font-size: 20px;
    padding-left: 100px;
    }
    #stats{ 
      font-size: 15px; 
        top: 450px;
        }
    
        #ctn{
            top: 325px; 
        }

   #contactPic{
    position: absolute;
   visibility: hidden;
}
#stockPic{
    position: absolute;
    visibility: hidden;
}
.about{
    text-align: left;
    float: unset;
    width: 75vw;
}
.cnt{
    width: 65vw;
}
.bottom img{
    height: 40px;
    margin-top: 2.5px;
   }
   .bottom ul{
  
    margin-top: 12px;
   }
   .bottom  {
    height: 50px;
   
   }
   #bottomNav{
     font-size: 15px;
   }
   nav ul{
    margin: 0px 5px;
    margin-left:0px ;
   }
   #countUp{
    font-size: 17px; 
}
   
 
   
}

@media (max-width: 500px) {
 

    .contact{
        top: 170vh;
    }


    .inp{
        width: 300px;
        padding: 0px;
        font-size: 20px;
    }

    #stockPic{
        position: absolute;
        visibility: hidden;
    }

    
    nav img{
        margin-top: 6px;
        width: 140px;
    }

    #bottomNav{
        font-size: 13px;
      }

    nav ul{
        margin: 0px 0px;
    }

    nav li{
        margin-left: 3px;
    }

    #contactPic{
        position: absolute;
        visibility: hidden;
    }

    #description{
        padding-left: 50px;
        width: 40vw;
    }
    article{
        margin: 0;
       
    }
    .contact , .aboutUs{
       width: 80vw;
        margin: 0vw 10vw;
    }
    
    .grid-container{
        width: auto;
    }

}
@media (max-width: 380px) {
    .contact{
        top: 185vh;
    }
}
@media (max-height: 1400px) and (max-width: 950px) {
    .img{
        
        height: 100vh;
        background-size:600%;
        background-position: bottom;
    }
}

@media (max-height: 600px){
    .contact{
        top: 195vh;
    }
    .img{
        transform: translate(0px, -15vh);
    }

}
@media (max-height: 700px){
    .contact{
        top: 182vh;
    }
}

@media (max-height: 825px){ /*try not to pass 835 px to fix on discord */
    .img{
        transform: translate(0px, -7vh);
    }
}