body{ 
    margin: 0;
    overflow-x:hidden;
    overflow-y:hidden;
    color: white;
   
   background-color:rgb(255, 255, 255) ;
   cursor:default;
}
html{
    scroll-behavior: smooth;
}
video{
    position: -webkit-sticky;
    position: fixed;
    top:0;  
    z-index: 2;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.img{
    background-image:url("https://i.ibb.co/7WD9GgM/Low-Toronto.jpg") ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100%;
    height: 95vh;
    z-index: -1; 
   
    
}

.bottom img{
    height: 70px;
    margin: auto auto;
}
.top img{
    height: 40px;
   
}


nav{
   
    width: 100vw ;  
    z-index: 1;
}

 nav ul{
    
    list-style-type: none;
    float: right;
    margin: 0px 45px;
   
}

nav li {
    cursor: pointer;
    display: inline;
    margin: 0px 10px;
   
   
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    z-index: 1;
}

#topNav{
   font-size: 13px;
   height: 30px;
    position: fixed;
    top:0 ;
    background-color: rgb(163, 12, 12);
    
  
}
#topNav nav{
margin-top: 7px;
}

.bottom ul {
    margin-top: 25px ;
}
.top ul {
    margin-top: 15px ;
}
.bottom {
    position: absolute;
    bottom: 0;
    
padding-top: 10px;  
    height: 80px;
     color: white; 
    background-color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 20px;
}
.top{
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 30px;
    height: 50px;
}
 
#bottomNav nav li a:hover{
background-color: rgb(182, 65, 36);

}


#description{
font-size: 30px;
position: absolute;
    
width: 35vw;  
padding: 40px;

 top: 200px;
 left: 0vw;

background-color: rgba(0, 0, 0, 0.315);
 border-style: hidden;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
padding-left: 150px;
text-align: left;
   
}



 #stats{ 
     text-align: center; 
     position: absolute;
     top: 400px;
     right: 10vw;
     
}
.info{
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}
.about{
    text-align: left;
    float: right;
    width: 50vw;
}
.AbU{
   

}
.cnt{
    text-align: left;
      width: 45vw;
}

#countUp{
    font-size: 35px;
    position: relative;
    top: -10px;
}



label{
    color: black;
}
.contact{
    margin: 0 10vw;
    
    z-index: -1;
    width: 80vw;
    position: absolute;
   padding: 0px;;
   top: 160vh;
   color: rgb(0, 0, 0);

   
   
}
.inp{
  
  
  border-width: 2px;
    border-style: solid;
    
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom-color: red;

    text-indent: 20px;
    padding: 2px;
    margin-bottom: 15px;
    height: 50px;
    width: 450px;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    
    
}

::placeholder{
    color: black;
}

input:focus {
   outline-style: none;
  }

  .sub{
color: black;

border: solid;
border-width: 2px;
border-radius: 5px;
border-color: rgb(0, 0, 0);
width: 100px;
padding: 10px;
float: left;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif



  }
  .sub:hover{
    cursor: pointer;
  }




  .aboutUs{
    position: absolute;
    top: 100vh;
    color: black;
   
    
   
  }

  #stockPic{
    width: 25vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns:  auto ;
    color: rgba(0, 0, 0, 0.815);
    width: 50vw;
    
   
   

    
  }
  .grid-item {        
  }
 

  .center{
    margin-left: auto;
    margin-right: auto;
}

.below{
    margin-top:10px ;
    text-align: center;
    
}

.title{
  width: 80vw;  
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

article{
    margin: 0vw 10vw;
}



 #contactPic{
    width: 25vw;
    position: relative;
     top: -250px;
    left: 45vw;
    text-align: center;
    border-radius: 70px;
    
  }




/*compaibilty with different size screens */

@media (max-width: 1000px) {

    .img{
        visibility: hidden;
    }
}

@media (max-width: 500px) {

    .inp{
        width: 100px;
        padding: 0px;
    }

    #stockPic{
        position: absolute;
        visibility: hidden;
    }

    .about{
        float: left;
    }
    .bottom img{
        width: 50px;
    }

    nav ul{
        margin: 0px 0px;
    }

    nav li{
        margin: 0px;
    }

    #contactPic{
        position: absolute;
        visibility: hidden;
    }
}

